@{
    Random rnd = new Random();
    int month = rnd.Next(1, 4);
    string icoPath = "";
    switch (month)
    {
        case 1:
            icoPath = "/chopper_heli_favicon.ico";
            break;
        case 2:
            icoPath = "/chopper_knife_favicon.ico";
            break;
        case 3:
            icoPath = "/chopper_moto_favicon.ico";
            break;
    }
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ChOpper</title>
    <link href='@Url.Content("~/Content/themes/base/all.css")' rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/Content/StyleSheet1.css">
    <link rel="stylesheet" href="~/Content/Stolby.css">
    <link rel="stylesheet" href="~/Content/Orbity.css">
    <link rel="stylesheet" href="~/Content/bootstrap.css">
    <script src="~/Scripts/jquery-2.0.0.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>    
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    

    <link rel="icon" href="@icoPath" type="image/x-icon">

    @*<script src="~/Scripts/jquery-ui-1.11.4.js"></script>*@

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @*@Scripts.Render("~/Scripts/JavaScript1.js")*@

    @*
    <script>

        $(document).ready(function () {
            $('body').on('click', '#swapDown', function newProgSwapDown(event) {
                var curProgId = $(".selected").attr('id');
                var curProg = document.getElementById(curProgId);
                var curTiming = document.getElementById("timing_" + curProgId);

                var nextProgId = $(".selected").nextAll('.prog:first').attr('id');
                var nextProg = document.getElementById(nextProgId);
                var nextTiming = document.getElementById("timing_" + nextProgId);


                var newNextTop = parseInt(curProg.style.top);
                var newCurTop = newNextTop + parseInt(nextProg.offsetHeight);


                $("#nextProgId").prependTo("#curProgId");
                curProg.style.top = newCurTop + 'px';
                curTiming.innerHTML = getTimeByPosition(curProg.offsetTop, curProg.offsetHeight);
                nextProg.style.top = newNextTop + 'px';
                nextTiming.innerHTML = getTimeByPosition(nextProg.offsetTop, nextProg.offsetHeight);
            });
        });


    </script>
        *@
    <script>
        var offset_data;
        var dragged_id;



        function prog_wheel(event) {
            var curTiming = document.getElementById("timing_" + event.target.id);
            var curInfoString = document.getElementById("infostring_" + event.target.id);
            var delta = event.wheelDelta;
            if (!event.ctrlKey) {
                if (delta > 0) {
                    event.target.style.top = parseInt(event.target.style.top) + 1 + "px";
                }
                else {
                    event.target.style.top = parseInt(event.target.style.top) - 1 + "px";
                }                                
            }
            else
            {
                if (delta > 0) {
                    event.target.style.height = parseInt(event.target.style.height) + 1 + "px";
                }
                else {
                    event.target.style.height = parseInt(event.target.style.height) - 1 + "px";
                }

                curInfoString.innerHTML = getNewTiming(curInfoString.innerHTML, delta);
            }
            curTiming.innerHTML = getTimeByPosition(event.target.offsetTop, event.target.offsetHeight);
            
            //curInfoString.innerHTML = getTimeByPosition(event.target.offsetTop, event.target.offsetHeight);



            event.preventDefault();
        }



        function getTimingFromInfoString(infoString)
        {
            var hours;
            var minutes;
            if (infoString.indexOf(":") > 0) {
                hours = parseInt(infoString.substring(infoString.indexOf("[") + 1, infoString.indexOf(":")));
                if (hours > 23)
                {
                    minutes = hours;
                    hours = 0;
                }
                else
                {
                    minutes = parseInt(infoString.substring(infoString.indexOf(":") + 1, infoString.indexOf(":") + 3));
                    minutes = hours * 60 + minutes; 
                }
            }
            else {
                minutes = infoString.substring(infoString.indexOf("[") + 1, infoString.indexOf(" "));
            }
            return minutes;
        }

        function getNewTiming(oldInfoString, deltaDir)
        {
            var newInfoString;
            var oldTiming;
            var newTiming;
            var delta = 1;
            if (deltaDir < 0)
            {
                delta = -1;
            }
           

            if (oldInfoString.indexOf(":") > 0)
            {
                var hours = oldInfoString.substring(oldInfoString.indexOf("[")+1, oldInfoString.indexOf(":"));
                var minutes = oldInfoString.substring(oldInfoString.indexOf(":") + 1, oldInfoString.indexOf(":") + 3);
                oldTiming = hours + ":" + minutes;                
                if (parseInt(minutes) + parseInt(delta) == 60 | parseInt(minutes) + parseInt(delta) == -1)
                {
                    hours = parseInt(hours) + parseInt(delta);
                    if (delta > 0) {
                        newTiming = hours + ":00";
                    }
                    else
                    {
                        newTiming = hours + ":59";
                    }
                }
                else
                {
                    minutes = parseInt(minutes) + parseInt(delta)
                    if (minutes < 10)
                    {
                        minutes = "0" + minutes;
                    }
                    newTiming = hours + ":" + minutes;

                }
                var secondSemicolon = oldInfoString.substring(oldInfoString.indexOf(":") + 1, oldInfoString.length).indexOf(":") + oldInfoString.indexOf(":") + 1;
                if (secondSemicolon > 0 & secondSemicolon < oldInfoString.indexOf("+")) {
                    var seconds = oldInfoString.substring(secondSemicolon, secondSemicolon+3);
                    oldTiming = oldTiming+seconds;
                }
                
                newInfoString = oldInfoString.replace(oldTiming, newTiming);
                
                
            }
            else
            {
                oldTiming = oldInfoString.substring(0, oldInfoString.indexOf(" "));
                newTiming = parseInt(oldTiming) + delta;
                if (newTiming==60)
                {
                    newTiming = "1:00";
                }
                if (newTiming==0)
                {
                    newTiming = "1";
                }
            }


            return newInfoString;
        }

        function prog_click(event) {
            @*Single click deselects progs*@
            var progs = document.getElementsByClassName("prog");
            for (var i = 0; i < progs.length ; i++) {
                progs.item(i).classList.remove('selected');
                progs.item(i).setAttribute("draggable", "false");                
            }
            dragged_id ='';
            $(".leftSideButtons").animate({ left: "-70px" }, 500);
            @*$("#progFlyoutHandle").animate({ right: "0" }, 500);
            $("#progFlyout").animate({ right: "-200px" }, 500);*@
        }


        function dblclick(ev) {
            event.stopPropagation();
            var progs = document.getElementsByClassName("prog");

            for (var i = 0; i < progs.length ; i++) {
                progs.item(i).classList.remove('selected');
                progs.item(i).setAttribute("draggable", "false");
            }

            if (!ev.target.classList.contains("info-div") & !ev.target.classList.contains("timing-div") & !ev.target.classList.contains("title-div")) {
                ev.target.classList.add('selected');
                ev.target.setAttribute("draggable", "true");                
            }
            else {
                ev.target.parentNode.classList.add('selected');
                ev.target.parentNode.setAttribute("draggable", "true");
                ev.target.setAttribute("draggable", "false");
            }
            var dm;
            dm = document.getElementsByClassName("selected")[0];
            dm.addEventListener("mousewheel", prog_wheel, true);

            $(".leftSideButtons").animate({ left: "0" }, 100);

        }        

        function drag(event) {
            
            event.stopPropagation();
            var dm;

            dm = document.getElementsByClassName("selected")[0];
           
            var style = window.getComputedStyle(dm, null);
                
            event.dataTransfer.setData("text/plain",
            (parseInt(style.getPropertyValue("left"), 10) - event.clientX) + ',' + (parseInt(style.getPropertyValue("top"), 10) - event.clientY));
                
            dragged_id = dm.id;
                
        }

        function allowDrop(event) {
            event.preventDefault();
            return false;
        }

        function drop(event) {
            var offset = event.dataTransfer.getData("text/plain").split(',');
            var dm = document.getElementById(dragged_id);
            var newTop = (event.clientY + parseInt(offset[1], 10));
            var nextProg;
            var nextProgId;
            if (!event.target.classList.contains("info-div") & !event.target.classList.contains("timing-div") & !event.target.classList.contains("title-div")) {
                if (!event.target.classList.contains("prog")) {
                    //event.target.appendChild(document.getElementById(dragged_id));
                    nextProgId = findNextProg(event.target.id, newTop);
                    //nextProgId = "#" + nextProgId;
                    nextProg = document.getElementById(nextProgId);
                    //dm.insertBefore(nextProg);
                    event.target.insertBefore(dm, nextProg);
                    var x = 0;
                }
                else {
                    nextProgId = findNextProg(event.target.parentNode.id, newTop);
                    //nextProgId = "#" + nextProgId;
                    nextProg = document.getElementById(nextProgId);
                    //dm.insertBefore(nextProg);
                    event.target.parentNode.insertBefore(dm, nextProg);
                    var x = 0;
                    //event.target.parentNode.appendChild(document.getElementById(dragged_id));
                }
            }
            else {
                //event.target.parentNode.parentNode.appendChild(document.getElementById(dragged_id));
                nextProgId = findNextProg(event.target.parentNode.parentNode.id, newTop);
                //nextProgId = "#" + nextProgId;
                nextProg = document.getElementById(nextProgId);
                //dm.insertBefore(nextProg);
                event.target.parentNode.parentNode.insertBefore(dm, nextProg);
                var x = 0;
            }

            dm.style.left = '0';
            dm.style.top = (event.clientY + parseInt(offset[1], 10)) + 'px';

            var dropElement = event.target;
            var curTiming = document.getElementById("timing_" + dragged_id);


            dm.style.width = dropElement.clientWidth;
            curTiming.innerHTML = getTimeByPosition(dm.offsetTop, dm.offsetHeight);

            event.preventDefault();
            return false;
        }
            
        function findNextProg(parentId, newTop)
        {
            var nextProgId;            
            var curProg = document.getElementById(dragged_id);
            var progs = $("#" + parentId).find('.prog');
            var nextProg;

            for (var i = 0; i < progs.length ; i++) {
                

                if (progs[i].offsetTop > newTop)
                {
                    if (nextProg == null) {
                        if (progs[i].id != dragged_id) {
                            nextProg = progs[i];
                        }
                    }
                    else
                    {
                        if (progs[i].offsetTop<nextProg.offsetTop)
                        {
                            if (progs[i].id != dragged_id) {
                                nextProg = progs[i];
                            }
                        }
                    }
                }
            }
            nextProgId = nextProg.id;

            return nextProgId;
        }

        function progMoveUp(event) {
            var curProgId = $(".selected").attr('id');
            var curProg = document.getElementById(curProgId);
            var curTiming = document.getElementById("timing_" + curProgId);

            var prevProgId = $(".selected").prevAll('.prog:first').attr('id');
            var prevProg = document.getElementById(prevProgId);

            var newTop = parseInt(prevProg.style.top) + parseInt(prevProg.offsetHeight);
            curProg.style.top = newTop + 'px';
            curTiming.innerHTML = getTimeByPosition(curProg.offsetTop, curProg.offsetHeight);
            updateHover(curProgId);
        }

        function progMoveDown(event) {
            var curProgId = $(".selected").attr('id');
            var curProg = document.getElementById(curProgId);
            var curTiming = document.getElementById("timing_" + curProgId);

            var nextProgId = $(".selected").nextAll('.prog:first').attr('id');
            var nextProg = document.getElementById(nextProgId);

            var newTop = parseInt(nextProg.style.top) - parseInt(curProg.offsetHeight);
            curProg.style.top = newTop + 'px';
            curTiming.innerHTML = getTimeByPosition(curProg.offsetTop, curProg.offsetHeight);
            updateHover(curProgId);
        }


        function progCopyToZapas(event) {
            var curProgId = $(".selected").attr('id');
            var curProg = document.getElementById(curProgId);
            var curInfoString = document.getElementById("infostring_" + curProgId);
            var curProgTitle = curProg.getElementsByClassName("title-div")[0].innerHTML;
            var minutes = getTimingFromInfoString(curInfoString.innerHTML);

            $.ajax({
                type: 'POST',
                cache: false,
                data: {
                    title: curProgTitle,
                    pureDur: minutes.toString(),
                    fullCode: "11111"
                },
                url: '/Day/AddProgToZapas',
                success: function (data) {
                    console.log("zapas pass ok");
                }
            });
            /*
            $.ajax({
            type: 'POST',
            cache: false,
            data: curDt,
            url: '/Day/AddDayByDate',
            success: function (data) {
                document.getElementById('emptyNextDay').innerHTML = data;
                var res = $("#emptyNextDay").find(".dow-div").first().data("tvdayref");
                $("#emptyNextDay").removeClass("dayrectAdd");
                $("#emptyNextDay").addClass("dayrect");
                $("#emptyNextDay").id = res;
        }
        });
            */
        }


        function progCalcAd(event) {
            var curProgId = $(".selected").attr('id');
            var curProg = document.getElementById(curProgId);
            var curProgTitle = curProg.getElementsByClassName("title-div")[0].innerHTML;
            var curProgAge = "";            
            if (curProg.getElementsByClassName("age-div").length > 0 )
            {
                curProgAge = "("+curProg.getElementsByClassName("age-div")[0].innerHTML+")";
            }

            var curTiming = document.getElementById("timing_" + curProgId);
            var curInfoString = document.getElementById("infostring_" + curProgId);

            var minutes = getTimingFromInfoString(curInfoString.innerHTML);
            //curInfoString.innerHTML = getNewTiming(curInfoString.innerHTML, delta);
                       

            var r = 0;
            var t = 0;
            var a = 0;

            var temp_dur = minutes;
            var odd = true;
            while (temp_dur > 0) {
                if (odd == true && t > 0) {
                    r += 2;
                    temp_dur += 2;
                }
                if (odd == false) {
                    r += 2;
                    t += 1;
                    a += 1;
                    temp_dur += 3;
                }
                odd = !odd;
                temp_dur -= 15;
            }

            temp_dur = minutes + r + a;
            //Странная поправка на ветер
            if (temp_dur < 120)
                r += 2;
            //Добавляем раз в час на анонсы для новостей часа
            a += Math.round(temp_dur / 60);            
            //Проверяем количество точек
            if (r - t * 4 > 0) t += 1;

            //Для коротких передач делаем на 1 анонс больше, чем точек
            while (a <= t) a += 1;

            var hours = 0;
            while (minutes >= 60) {
                hours += 1;
                minutes -= 60;
            }
            var newInfoString = "";
            if (hours>0)
            {
                newInfoString += "[" + hours.toString() + ":" + minutes.toString() + " + " + r.toString() + "Р(" + t.toString() + ") + " + a.toString()+"А]"
            }
            else
            {
                newInfoString += "[" + minutes.toString() + " + " + r.toString() + "Р(" + t.toString() + ") + " + a.toString() + "А]"
            }

            curInfoString.innerHTML = newInfoString;

            temp_dur = hours*60+minutes + r + a;
            curProg.style.height = temp_dur + "px";
            curTiming.innerHTML = getTimeByPosition(curProg.offsetTop, curProg.offsetHeight);
            updateHover(curProgId);

            event.preventDefault();

        }

        function updateHover(curProgId)
        {            
            var curProg = document.getElementById(curProgId);
            var curProgTitle = curProg.getElementsByClassName("title-div")[0].innerHTML;
            var curProgAge = "";
            if (curProg.getElementsByClassName("age-div").length > 0) {
                curProgAge = "(" + curProg.getElementsByClassName("age-div")[0].innerHTML + ")";
            }
            var curTiming = document.getElementById("timing_" + curProgId);
            var curInfoString = document.getElementById("infostring_" + curProgId).innerHTML;

            var hoverProg = curProg.nextElementSibling;
            hoverProg.innerHTML = "<span>" + curTiming.innerHTML + "</span>" + "<br //><span>" + curProgTitle + "<b>" + curProgAge + "<//b><//span><br //><span>" + curInfoString + "<//span>";
        }

        function progSwapUp(event) {
            //Swap without hover
            var curProgId = $(".selected").attr('id');
            var curProg = document.getElementById(curProgId);
            var curTiming = document.getElementById("timing_" + curProgId);

            var prevProgId = $(".selected").prevAll('.prog:first').attr('id');
            var prevProg = document.getElementById(prevProgId);
            var prevTiming = document.getElementById("timing_" + prevProgId);


            
            var newCurTop = parseInt(prevProg.style.top);
            var newPrevTop = newCurTop + parseInt(curProg.offsetHeight);
            

            curProg.parentNode.insertBefore(curProg, prevProg);

            $("#nextProgId").prependTo("#curProgId");
            curProg.style.top = newCurTop + 'px';
            curTiming.innerHTML = getTimeByPosition(curProg.offsetTop, curProg.offsetHeight);
            prevProg.style.top = newPrevTop + 'px';
            prevTiming.innerHTML = getTimeByPosition(prevProg.offsetTop, prevProg.offsetHeight);
            updateHover(curProgId);
        }

        function progSwapDown(event) {
            //Swap without hover
            var curProgId = $(".selected").attr('id');
            var curProg = document.getElementById(curProgId);
            var curTiming = document.getElementById("timing_" + curProgId);

            var nextProgId = $(".selected").nextAll('.prog:first').attr('id');
            var nextProg = document.getElementById(nextProgId);
            var nextTiming = document.getElementById("timing_" + nextProgId);

            
            var newNextTop = parseInt(curProg.style.top);
            var newCurTop = newNextTop + parseInt(nextProg.offsetHeight);

            curProg.parentNode.insertBefore(nextProg,curProg);

            $("#nextProgId").prependTo("#curProgId");
            curProg.style.top = newCurTop + 'px';
            curTiming.innerHTML = getTimeByPosition(curProg.offsetTop, curProg.offsetHeight);
            nextProg.style.top = newNextTop + 'px';
            nextTiming.innerHTML = getTimeByPosition(nextProg.offsetTop, nextProg.offsetHeight);
            updateHover(curProgId);
        }

        function getTimeByPosition(yPos, curHeight) {
            var timingString = "Got it!";
            var timeInMinutes = yPos - 120;
            var durInMinutes = curHeight;
            var endTimeInMinutes = timeInMinutes + durInMinutes;

            var hourStart = "";
            var minuteStart = "";
            var hourEnd = "";
            var minuteEnd = "";
            var hourDur = "";
            var minuteDur = "";
            var durStr = "";

            @*Timestart*@
            hourStart = (((timeInMinutes - timeInMinutes % 60) / 60) + 5).toString();
            if (parseInt(hourStart) > 23) {
                hourStart = (parseInt(hourStart) - 24).toString();
            }
            minuteStart = (timeInMinutes % 60).toString();
            if (parseInt(minuteStart) < 10) {
                minuteStart = "0" + minuteStart;
            }
            @*Timeend*@
            hourEnd = (((endTimeInMinutes - endTimeInMinutes % 60) / 60) + 5).toString();
            if (parseInt(hourEnd) > 23) {
                hourEnd = (parseInt(hourEnd) - 24).toString();
            }
            minuteEnd = (endTimeInMinutes % 60).toString();
            if (parseInt(minuteEnd) < 10) {
                minuteEnd = "0" + minuteEnd;
            }
            @*Duration*@
            hourDur = ((durInMinutes - durInMinutes % 60) / 60).toString();
            minuteDur = (durInMinutes % 60).toString();
            if (parseInt(minuteDur) < 10) {
                minuteDur = "0" + minuteDur;
            }
            if (parseInt(hourDur) > 0) {
                durStr = hourDur + ":" + minuteDur;
            }
            else {
                durStr = minuteDur;
            }

            @*Creating string*@
            timingString = hourStart + ":" + minuteStart + " - " + hourEnd + ":" + minuteEnd + " (" + durStr + ")";

            return timingString;
        }

        function Clear() {
            document.getElementById("Title").value = "";
        }

        function getTimeStamp()
        {
            var date = new Date(Date.now());
            var day = '' + date.getDate();
            var month = '' + (date.getMonth() + 1);
            if (month.length < 2) month = '0' + month;
            if (day.length < 2) day = '0' + day;
            var hours = date.getHours();
            var minutes = "0" + date.getMinutes();
            var seconds = "0" + date.getSeconds();
            var formattedTime = day + '.' + month + '.' + date.getFullYear() + ' ' + hours + ':' + minutes.substr(-2) + ':' + seconds.substr(-2);
            return formattedTime;
        }

    </script>

</head>
<!--<body style="background:#429adb">-->
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("ChOpper", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">                    
                    <li>@Html.ActionLink("Раскладка", "WeekChosen", "Weeks", new { WeekId = ViewBag.WeekId, repType = "raskladka"}, null)</li>                    
                    <li>@Html.ActionLink("Орбиты", "WeekChosen", "Weeks", new { WeekId = ViewBag.WeekId, repType = "orbity" }, null)</li>                    
                    <li>@Html.ActionLink("Столбы", "WeekChosen", "Weeks", new { WeekId = ViewBag.WeekId, repType = "stolby" }, null)</li>                    
                    @*<li>@Html.ActionLink("Календарь", "Contact", "Home")</li>*@
                    @*<li>@using (Html.BeginForm("Search", "planCatDb", FormMethod.Post, new { target = "_blank" }))
                        {
                        @Html.TextBox("catSearchTb", "Поиск", new { onclick = "Clear();" });
                        }</li>
                    *@
                    <li>
                        @using (Html.BeginForm("PerformAdvSearch", "AdvSearch", FormMethod.Post, new { target = "_blank" }))
                        {
                            @Html.TextBox("Title", "Поиск", new { onclick = "Clear();" });                            
                        }
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container-fluid body-content">
        <div class="leftSideButtons">
            <div id="swapUp" class='sideButtons' onclick="progSwapUp(event)"><span class='glyphicon glyphicon-random'></span></div>
            <div id="moveUp" class='sideButtons' onclick="progMoveUp(event)"><span class='glyphicon glyphicon-arrow-up'></span></div>
            <div id="fill" class='sideButtons'><span class='glyphicon glyphicon-resize-full'></span></div>
            <div id="calcAd" class='sideButtons' onclick="progCalcAd(event)"><span class='glyphicon glyphicon-usd'></span></div>
            <div id="moveDown" class='sideButtons' onclick="progMoveDown(event)"><span class='glyphicon glyphicon-arrow-down'></span></div>
            <div id="swapDown" class='sideButtons' onclick="progSwapDown(event)"><span class='glyphicon glyphicon-random'></span></div>
            <div id="copyZapas" class='sideButtons' onclick="progCopyToZapas(event)"><span class='glyphicon glyphicon-save-file'></span></div>
        </div>


        <div id="mainContentDiv">
            @RenderBody()
        </div>
        <div class="row">
            <footer style="padding-left:20px;">
                <hr />
                <p>&copy; @DateTime.Now.Year - Дирекция планирования программ</p>
            </footer>
        </div>
    </div>    
    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("scripts", required: false)
</body>
</html>
