<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href='@Url.Content("~/Content/themes/base/all.css")' rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/Content/StyleSheet1.css">
    @*<script src="~/Scripts/jquery-1.10.2.js"></script>
        <script src="~/Scripts/jquery-ui-1.11.4.js"></script>*@

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @*@Scripts.Render("~/Scripts/JavaScript1.js")*@

    <script>
        var offset_data;
        var dragged_id;

        function prog_click(event) {
            @*Single click deselects progs*@
            var progs = document.getElementsByClassName("prog");
            for (var i = 0; i < progs.length ; i++) {
                progs.item(i).classList.remove('selected');
                progs.item(i).setAttribute("draggable", "false");
            }

        }

        function dblclick(ev) {
            @*
                Double click selects a prog
                Currently - a single one
            *@
            var progs = document.getElementsByClassName("prog");

            for (var i = 0; i < progs.length ; i++) {
                progs.item(i).classList.remove('selected');
                progs.item(i).setAttribute("draggable", "false");
            }

            if (!ev.target.classList.contains("info-div") & !ev.target.classList.contains("timing-div") & !ev.target.classList.contains("title-div")) {
                ev.target.classList.add('selected');
                ev.target.setAttribute("draggable", "true");
            }
            else {
                ev.target.parentNode.classList.add('selected');
                ev.target.parentNode.setAttribute("draggable", "true");
            }
        }


        function drag(event) {
            var dm;
            @*Single selected prog implied*@
            dm = document.getElementsByClassName("selected")[0];

            var style = window.getComputedStyle(dm, null);
            event.dataTransfer.setData("text/plain",
            (parseInt(style.getPropertyValue("left"), 10) - event.clientX) + ',' + (parseInt(style.getPropertyValue("top"), 10) - event.clientY));
            dragged_id = dm.id;

        }

        function allowDrop(event) {
            event.preventDefault();
            return false;
        }
        function drop(event) {
            var offset = event.dataTransfer.getData("text/plain").split(',');            
            var dm = document.getElementById(dragged_id);
            if (!event.target.classList.contains("info-div") & !event.target.classList.contains("timing-div") & !event.target.classList.contains("title-div")) {
                if (!event.target.classList.contains("prog")) {
                    event.target.appendChild(document.getElementById(dragged_id));
                }
                else {
                    event.target.parentNode.appendChild(document.getElementById(dragged_id));
                }
            }
            else {
                event.target.parentNode.parentNode.appendChild(document.getElementById(dragged_id));
            }
            dm.style.left = (event.clientX + parseInt(offset[0], 10)) + 'px';
            dm.style.top = (event.clientY + parseInt(offset[1], 10)) + 'px';

            var dropElement = event.target;
            var curTiming = document.getElementById("timing_" + dragged_id);

            dm.style.width = dropElement.offsetWidth.toString() + "px";
            @*Timestart/Timeend update*@
            curTiming.innerHTML = getTimeByPosition(dm.offsetTop, dm.offsetHeight);

            event.preventDefault();
            return false;
        }




        function getTimeByPosition(yPos, curHeight) {
            var timingString = "Got it!";
            var timeInMinutes = yPos - 100;
            var durInMinutes = curHeight;
            var endTimeInMinutes = timeInMinutes + durInMinutes;

            var hourStart = "";
            var minuteStart = "";
            var hourEnd = "";
            var minuteEnd = "";
            var hourDur = "";
            var minuteDur = "";
            var durStr = "";

            @*Timestart*@
            hourStart = (((timeInMinutes - timeInMinutes % 60) / 60) + 5).toString();
            if (parseInt(hourStart) > 23) {
                hourStart = (parseInt(hourStart) - 24).toString();
            }
            minuteStart = (timeInMinutes % 60).toString();
            if (parseInt(minuteStart) < 10) {
                minuteStart = "0" + minuteStart;
            }
            @*Timeend*@
            hourEnd = (((endTimeInMinutes - endTimeInMinutes % 60) / 60) + 5).toString();
            if (parseInt(hourEnd) > 23) {
                hourEnd = (parseInt(hourEnd) - 24).toString();
            }
            minuteEnd = (endTimeInMinutes % 60).toString();
            if (parseInt(minuteEnd) < 10) {
                minuteEnd = "0" + minuteEnd;
            }
            @*Duration*@
            hourDur = ((durInMinutes - durInMinutes % 60) / 60).toString();
            minuteDur = (durInMinutes % 60).toString();
            if (parseInt(minuteDur) < 10) {
                minuteDur = "0" + minuteDur;
            }
            if (parseInt(hourDur) > 0) {
                durStr = hourDur + ":" + minuteDur;
            }
            else {
                durStr = minuteDur;
            }

            @*Creating string*@
            timingString = hourStart + ":" + minuteStart + " - " + hourEnd + ":" + minuteEnd + " (" + durStr + ")";

            return timingString;
        }

    </script>

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>d3
                @Html.ActionLink("ChOpper", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Недели", "getWeek", "Weeks")</li>
                    <li>@{Html.RenderAction("SelectCategory", "Home");}</li>
                    <li>@Html.ActionLink("Газета", "About", "Home")</li>
                    <li>@Html.ActionLink("Календарь", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container-fluid body-content">
        @RenderBody()
        <div class="row">
            <footer>
                <hr />
                <p>&copy; @DateTime.Now.Year - ChOpper</p>
            </footer>
        </div>
    </div>

    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("scripts", required: false)
</body>
</html>
