@model chopper1.Models.Week
@{
    string curDate = Model.Days[0].TVDate.Date.ToString("yyyy-MM-dd");
    string curDow = @System.Globalization.DateTimeFormatInfo.CurrentInfo.GetDayName(Model.Days[0].TVDate.DayOfWeek);
    if (curDow.Right(1)=="а") curDow = curDow.Left(curDow.Length-1)+"у";
    
    ViewBag.Title = Model.Days[0].TVDate.Date.ToString("dd/MM/yyyy");
}

@using (Html.BeginForm("Broadcast", "Weeks", FormMethod.Get))
{
    <fieldset>
        <h2>Программа передач Первого канала на @curDow, <input name="bdate" type="date" id="broadcast_datepicker" class="datepickers" value="@curDate" onchange="form.submit();" /></h2>
    </fieldset>
}

<p id="timestampDiv">@DateTime.Now.ToString("dd/MM/yyyy") @DateTime.Now.ToString("HH:mm:ss")</p>

<div class="row week_bg">

    @{var i = 0;
    double dayRectWidth = 95.0 / 6;
    string dayRectWidthStr = dayRectWidth.ToString("#.##").Replace(",", ".") + "%";
    }

    @foreach (chopper1.ws1c.WeekTVDayType day in Model.Days)
    {
        
        Html.RenderAction("ConstructTimeScale", "Day", new { left = true, channelCode = day.KanalKod });
        <div id="@day.TVDayRef" class="dayrect" ondrop="drop(event)" ondragover="allowDrop(event)" style="width: @dayRectWidthStr;">            
           @{Html.RenderAction("BroadcastDay", "Day", day);}
        </div>
            i += 1;        
    }
    @{Html.RenderAction("ConstructTimeScale", "Day", new { left = false, channelCode = 10 });}
    
</div>



<script>
    document.addEventListener("DOMContentLoaded", function a() {
        try {
            var source = new EventSource('checkdays');
            var myP = document.getElementById("messages");

            source.onmessage = function (event) {
                var result = event.data;
                @*myP.innerHTML += result;*@
                @*If result not empty - call actionresult to redraw a day*@
                if (result != "") {
                    var xmlhttp;
                    xmlhttp = new XMLHttpRequest();

                    xmlhttp.onreadystatechange = function () {
                        if (xmlhttp.readyState == XMLHttpRequest.DONE) {
                            console.log(result);
                            if (xmlhttp.status == 200) {
                                document.getElementById(result).innerHTML = xmlhttp.responseText;
                                document.getElementById("timestampDiv").innerHTML = getTimeStamp();                                
                            }
                            else if (xmlhttp.status == 400) {
                                @*alert('There was an error 400')*@
                                console.log(xmlhttp.statusText);
                            }
                            else {
                                @*alert('something else other than 200 was returned')*@
                                console.log(xmlhttp.statusText);
                            }
                        }
                    }
                    xmlhttp.open("POST", "UpdateDayBroadcast", true);
                    xmlhttp.setRequestHeader("dayID", result);
                    xmlhttp.send(result);
                }

            };
        }
        catch (err)
        {
            console.log(err.message)
        }
        source.onerror = function (e) {            
        };

    });

</script>