@model chopper1.Models.Week




@{
    Layout = null;
    ViewBag.Title = Model.Note;
}

<!--<h2>@Model.Note</h2>-->
<div id="weekSelectContainer">@{Html.RenderAction("SelectCategory", "Weeks");}</div>
<p id="messages"></p>
@*
    <div>
        @Html.DisplayFor(model => model.DaysCount)
    </div>
*@

<div id="loading">
    <div id="loadingcontent">
        <p id="loadingspinner">
            Searching things...
        </p>
    </div>
</div>

<div class="row week_bg">    
    @{Html.RenderAction("ConstructNormalTimeScale", "Day", new { left = true });}
    @{var i = 0;
    double dayRectWidth = 95.0 / Convert.ToDouble(Model.DaysCount);
    string dayRectWidthStr = dayRectWidth.ToString("#.##").Replace(",", ".") + "%";
    }
    @foreach (chopper1.ws1c.WeekTVDayType day in Model.Days)
    {

        <div id="@day.TVDayRef" class="dayrect" ondrop="drop(event)" ondragover="allowDrop(event)" style="width: @dayRectWidthStr;">
            @*<div id="dow@(i)" class="dow-div">@Enum.Parse(typeof(DayOfWeek), i.ToString())</div>
                <div id="date@(i)" class="date-div">@day.TVDate.Date.ToString("dd/MM/yyyy")</div>
                <div id="shapka@(i)" class="shapka-div"></div>*@
            @{Html.RenderAction("ConstructDay", "Day", day);}

        </div>
            i += 1;

    }
    @{Html.RenderAction("ConstructNormalTimeScale", "Day", new { left = false });}
</div>





<script>

    document.addEventListener("DOMContentLoaded", function a() {
        var source = new EventSource('checkdays');
        var myP = document.getElementById("messages");


        


        source.onmessage = function (event) {
            var result = event.data;
            @*myP.innerHTML += result;*@
            @*If result not empty - call actionresult to redraw a day*@
            if (result != "") {
                var xmlhttp;
                xmlhttp = new XMLHttpRequest();

                xmlhttp.onreadystatechange = function () {
                    if (xmlhttp.readyState == XMLHttpRequest.DONE) {
                        if (xmlhttp.status == 200) {
                            document.getElementById(result).innerHTML = xmlhttp.responseText;
                        }
                        else if (xmlhttp.status == 400) {
                            alert('There was an error 400')
                        }
                        else {
                            alert('something else other than 200 was returned')
                        }
                    }
                }
                xmlhttp.open("POST", "UpdateDayWeek", true);
                xmlhttp.setRequestHeader("dayID", result);
                xmlhttp.send(result);
            }

        };
        source.onerror = function (e) {
            console.log('error-error-error');
        };

    });

</script>