@model chopper1.Models.Day

@{
    Layout = null;
    string day_num = Model.TVDate.DayOfWeek.ToString();    
    DateTime dt = Model.TVDate;
    string varStr = "Вариант ";
    varStr += Model.VariantKod.ToString();
    
    string chStr = "Орбита ";
    if (Model.KanalKod == 10)
    {
        chStr = "Первый канал";
    }
    else
    {
        if (Model.KanalKod > 0)
        {
            chStr += (Model.KanalKod - 10).ToString();
        }
    }
    if (Model.KanalKod == 14)
    {
        chStr += " (HD и SD)";
    }
}

<div id="dow@(day_num)" class="dow-div">@chStr</div>
<div id="var@(Model.VariantKod.ToString())" class="varCode-div">
    @using (Ajax.BeginForm("VariantChosen", "Day", new AjaxOptions { UpdateTargetId = Model.TVDayRef }))
    {
        <fieldset>
            @Html.DropDownList("VariantKod", (SelectList)ViewData["DayVariants"], varStr, new { @onchange = "$(this.form).submit();" })
            @Html.Hidden("curDate", Model.TVDate.ToString())
            @Html.Hidden("chCode", Model.KanalKod.ToString())
            @Html.Hidden("repType", "broadcast")
        </fieldset>
    }
</div>
<div id="shapka@(day_num)" class="shapka-div"></div>


    @foreach (chopper1.ws1c.EfirType efir in Model.Efirs)
    {
        if (efir.Timing >= 60 * 2)
        {
            Html.RenderAction("ConstructEfir", "Efir", new { curEfir = efir, curDay = dt, chCode = Model.KanalKod, useTitle = true });
        }
    }


<div id="footer_@Model.TVDayRef" class="prog" style="top:1760px; border: none">
    @if (Model.Footers != null)
    {
        <table style="float:left;font-weight:bold;font-size:10px">
            <tr>
                <td class="StolbyTimeStart" style="width:10%"></td>
                <td class="StolbyTitle"><span style="white-space:pre-line">@Model.Foot</span></td>
                <td class="StolbyCode" style="width:10%"></td>
            </tr>

            @foreach (chopper1.ws1c.FooterType foot in Model.Footers)
                {
                    int ctHours = 0;
                    int ctMinutes = 0;
                    int ctSeconds = 0;
                    ctHours = Convert.ToDateTime(foot.ClearTiming).Hour;
                    ctMinutes = Convert.ToDateTime(foot.ClearTiming).Minute;
                    ctSeconds = Convert.ToDateTime(foot.ClearTiming).Second;
                    string ctStr = "";
                    if (ctHours > 0)
                    {
                        ctStr += ctHours.ToString("D2") + ".";
                    }
                    if (ctSeconds > 0)
                    {
                        ctStr += ctMinutes.ToString("D2") + "\'" + ctSeconds.ToString("D2");
                    }
                    else
                    {
                        ctStr += ctMinutes.ToString();
                    }

                    <tr>
                        <td class="StolbyTimeStart">
                            @foot.Beg
                        </td>
                        <td class="StolbyTitle">
                            @if (foot.Title == null || foot.Title == "")
                            {
                                <span style="white-space:pre-line"></span>
                            }
                            else
                            {
                                if (ctHours + ctMinutes + ctSeconds > 0)
                                {
                                    <span style="white-space:pre-line">@foot.Title [@ctStr + @foot.ITC]</span>
                                }
                                else
                                {
                                    <span style="white-space:pre-line">@foot.Title</span>
                                }
                            }
                        </td>
                        <td class="StolbyCode">
                            @foot.KodRed
                        </td>
                    </tr>
            }
        </table>
    }
</div>






