@model chopper1.Models.Efir

@{
    double position;
    //120 - Стандартный отступ на шапки
    position = 120;
    if (Model.IsNextDay)
    {
        position += (Model.Beg.Hour - 5) * 60 + Model.Beg.Minute + 24 * 60;
    }
    else
    {
        if (Model.IsPrevDay)
        {
            position += (Model.Beg.Hour - 5) * 60 + Model.Beg.Minute - 24 * 60;
        }
        else
        {
            position += (Model.Beg.Hour - 5) * 60 + Model.Beg.Minute;
        }
    }



    string strPos = "top: " + position.ToString() + "px";
    string str_height = "height:" + (Model.Timing / 60).ToString() + "px;";
    string pureDurStr = Model.timingToString(Model.PureDur);
    string durStr = Model.timingToString(Model.Timing);
    string titleClassString = "title-div";
    string fontSize;
    string classReserv = "";

    if (Model.FontSize >= 8)
    {
        fontSize = "font-size:" + (Model.FontSize - 2).ToString() + "pt";
    }
    else
    {
        if (Model.FontSize >= 6)
        { fontSize = "font-size:" + (Model.FontSize - 1).ToString() + "pt"; }
        else
        { fontSize = "font-size:" + Model.FontSize.ToString() + "pt"; }
    }
    string classNews = "";
    string classHighlight = "";
    string ageCat = "";
    if (Model.IsNews) { classNews = "news"; }
    if (Model.IsHighlighted) { classHighlight = "highlight"; }
    if (Model.Bold) { titleClassString += " font-bold"; }
    if (Model.Italic) { titleClassString += " font-italic"; }
    if (Model.Reserv) { classReserv = "reserv"; }
    if (Model.AgeCat.Length > 0) { ageCat = Model.AgeCat; }
}
<div draggable="false" id="@Model.Ref" class="prog @classHighlight @classNews @classReserv" style="@str_height @strPos" ondragstart="drag(event)" ondblclick="dblclick(event)" onclick="prog_click(event)">
    <div id="timing_@Model.Ref" class=" timing-div" style="@fontSize" draggable="false">
        @Model.Beg.ToString("H:mm") - @Model.EndTime.ToString("H:mm")
    </div>
    @if (Model.UseTitle)
    {
        <div class="@titleClassString" style="@fontSize" draggable="false">
            @Model.Title.Replace("#", "\n").ToUpper()
        </div>
    }
    else
    {
        <div class="@titleClassString" style="@fontSize" draggable="false">
            @Model.ANR.Replace("#", "\n").ToUpper()
        </div>
    }

    <div class="ratingsContainer" draggable="false">
        @{
            
            if (Model.DSti == 0)
            {
                <div class="ratings" id="sti">
                    &nbsp;—&nbsp;
                </div>
            }
            else
            {
                <div class="ratings" id="sti">
                    @Model.DSti.ToString("0.0")
                </div>
            }
            
            if (Model.DM == 0)
            {
                <div class="ratings" id="dm">&nbsp;—&nbsp;</div>
            }
            else
            { 
            <div class="ratings" id="dm">@Model.DM.ToString("0.0")</div>
            }
            
            if (Model.DR == 0)
            {
                <div class="ratings" id="dr">&nbsp;—&nbsp;</div>
            }
            else
            {
                <div class="ratings" id="dr">@Model.DR.ToString("0.0")</div>
            }
        }
    </div>
</div>

<div class="profile-hover">
    <span>@Model.Beg.ToString("H:mm") - @Model.EndTime.ToString("H:mm")</span>
    <br />
    <span>
        @Model.Title.Replace("#", "\n").ToUpper()
    </span>
    <br />
    <span> СТИ+ @Model.DSti.ToString("0.0"); TNS-М @Model.DM.ToString("0.0"); TNS-R @Model.DR.ToString("0.0")</span>
    <br />
    <span>РЕЙТИНГ: TNS-М @Model.RM.ToString("0.0"); TNS-R @Model.RR.ToString("0.0")</span>
</div>   