@model chopper1.Models.Efir

@{
    double position;
    //120 - Стандартный отступ на шапки
    position = 120;
    if (Model.IsNextDay)
    {
        position += (Model.Beg.Hour - 5) * 60 + Model.Beg.Minute + 24 * 60;
    }
    else
    {
        if (Model.IsPrevDay)
        {
            position += (Model.Beg.Hour - 5) * 60 + Model.Beg.Minute - 24 * 60;
        }
        else
        {
            position += (Model.Beg.Hour - 5) * 60 + Model.Beg.Minute;
        }
    }

    //if (Model.ChCode != 10 & Model.ChCode<=20)
    //{
    //    position += (5 - (Model.ChCode - 10)) * 2 * 60;
    //}

    switch (Model.ChCode)
    {
        case 30:
            break;
        case 41:
            position -= 60;
            break;
        default:
            position += (Model.ChCode - 30)* 60;
            break;
    }

    string strPos = "top: " + position.ToString() + "px";
    string str_height = "height:" + (Model.Timing / 60).ToString() + "px;";
    string pureDurStr = Model.timingToString(Model.PureDur);
    string durStr = Model.timingToString(Model.Timing);
    string titleClassString = "title-div";
    string fontSize;
    string classReserv = "";
    if (Model.FontSize >= 8)
    {
        fontSize = "font-size:" + (Model.FontSize - 2).ToString() + "pt";
    }
    else
    {
        if (Model.FontSize >= 6)
        { fontSize = "font-size:" + (Model.FontSize - 1).ToString() + "pt"; }
        else
        { fontSize = "font-size:" + Model.FontSize.ToString() + "pt"; }
    }
    string classNews = "";
    string classHighlight = "";
    string ageCat = "";
    string classZapas = "";
    if (Model.IsFromZapas) {
        str_height = str_height.Left(str_height.Length - 1);
        strPos = "";
        classZapas = " zapas";
    }
    if (Model.IsNews) { classNews = "news"; }
    if (Model.IsHighlighted) { classHighlight = "highlight"; }
    if (Model.Bold) { titleClassString += " font-bold"; }
    if (Model.Italic) { titleClassString += " font-italic"; }
    if (Model.Reserv) { classReserv = "reserv"; }
    if (Model.AgeCat.Length > 0) { ageCat = Model.AgeCat; }
}
<div draggable="false" id="@Model.Ref" class="prog @classHighlight @classNews @classReserv @classZapas" style="left:0; @str_height @strPos" ondragstart="dragStart(event)" ondblclick="    dblclick(event)" onclick="    prog_click(event)" oncontextmenu="prog_rclick(event)">
    <div id="timing_@Model.Ref" class=" timing-div" style="@fontSize" draggable="false">
        @Model.Beg.ToString("H:mm") - @Model.EndTime.ToString("H:mm") (@durStr)
    </div>
    @if (Model.UseTitle)
    {
        <div class="@titleClassString" style="@fontSize" draggable="false">
            <span style="white-space:pre-line">
                @Model.Title.Replace("#", "\n").ToUpper()
            </span>
        </div>
    }
    else
    {
        string newANR = Model.ANR.Replace("#", "\n").ToUpper();
        if (newANR.Left(1) == "\n")  { 
            newANR = newANR.Substring(1,newANR.Length-1);            
        }
        <div class="@titleClassString" style="@fontSize" draggable="false">
            <span style="white-space:pre-line">
                @*Model.ANR.Replace("#", "\n").ToUpper().Substring(0,Model.ANR.Length-1)*@
                @if (newANR.Right(1)=="\n")
                {
                    @newANR.Substring(0,newANR.Length-1)
                }
                else
                {
                     @newANR
                }
            </span>
        </div>
    }

    <div id="infostring_@Model.Ref" class="info-div" style="@fontSize" draggable="false">
        [@Model.getInfoString()] (@Model.ProducerCode@Model.SellerCode)
    </div>
    <div class="age-div" draggable="false">
        @ageCat
    </div>
</div>

<div class="profile-hover">
    <span>@Model.Beg.ToString("H:mm") - @Model.EndTime.ToString("H:mm") (@durStr)</span>
    <br />
    <span>
        @Model.Title.Replace("#", "\n").ToUpper()
        @if (Model.AgeCat.Length > 0)
        {
            <b>(@Model.AgeCat)</b>
        }
    </span>
    <br />
    <span>[@Model.getInfoString()] (@Model.ProducerCode@Model.SellerCode)</span>
</div>   