@model chopper1.Models.Efir


@{    
    double Ypos;
    double Xpos;
    double orbWidth;    
    orbWidth=50;
    //100 - Стандартный отступ на шапки
    Ypos = 100;
    Xpos = 0;
    if (Model.IsNextDay)
    {
        Ypos += (Model.Beg.Hour - 5) * 60 + Model.Beg.Minute + 24 * 60;
    }
    else
    {
        if (Model.IsPrevDay)
        {
            Ypos += (Model.Beg.Hour - 5) * 60 + Model.Beg.Minute - 24 * 60;
        }
        else
        {
            Ypos += (Model.Beg.Hour - 5) * 60 + Model.Beg.Minute;
        }
    }
    if (Model.ChCode != 10)
    {
        Ypos += (5 - (Model.ChCode - 10)) * 2 * 60;
    }

    //New Width
    int widthInt = 0;    
    if (Model.OrbCh1) {widthInt += 1;}
    if (Model.Orb1) { widthInt += 1; }
    if (Model.Orb2) { widthInt += 1; }
    if (Model.Orb3) { widthInt += 1; }
    if (Model.Orb4) { widthInt += 1; }
    
    
    //Horizontal positioning
    string classXPos = "xpos";
    if (Model.OrbCh1)
    {
        classXPos += "0";
        if (Model.Orb4)
        {
            orbWidth += 50;
        }
        if (Model.Orb3)
        {
            orbWidth += 50;
        }
        if (Model.Orb2)
        {
            orbWidth += 50;
        }
        if (Model.Orb1)
        {
            orbWidth += 50;
        }        
    }
    else
    {
        if (Model.Orb4)            
        {
            classXPos += "1";
            Xpos = 50;
            if (Model.Orb3)
            {
                orbWidth += 50;
            }
            if (Model.Orb2)
            {
                orbWidth += 50;
            }
            if (Model.Orb1)
            {
                orbWidth += 50;
            }        
        }
        else
        {
            if (Model.Orb3)
            {
               classXPos += "2";      
               Xpos = 100;               
               if (Model.Orb2)
               {
                   orbWidth += 50;
               }
               if (Model.Orb1)
               {
                   orbWidth += 50;
               }                    
            }
            else
            {
                if (Model.Orb2)
                {
                    classXPos += "3";
                    Xpos = 150;                                        
                    if (Model.Orb1)
                    {
                        orbWidth += 50;
                    }        
                }
                else
                { 
                    if (Model.Orb1)
                    {
                        classXPos += "4";
                        Xpos = 200;
                    }
                }
            }
        }
    }
    


    string strHeight = "height:" + (Model.Timing / 60).ToString() + "px;";
    string strWidth = "width:" + orbWidth.ToString() + "px;";
    string classWidth = "width" + widthInt.ToString();
    string strPosX = "left: " + Xpos.ToString() + "px;";
    string strPosY = "top: " + Ypos.ToString() + "px";
    string pureDurStr = Model.timingToString(Model.PureDur);
    string durStr = Model.timingToString(Model.Timing);
    string titleClassString = "title-div";
    string fontSize;
    string classReserv = "";
    
    if (Model.FontSize >= 8)
    {
        fontSize = "font-size:" + (Model.FontSize - 2).ToString() + "pt";
    }
    else
    {
        if (Model.FontSize >= 6)
        { fontSize = "font-size:" + (Model.FontSize - 1).ToString() + "pt"; }
        else
        { fontSize = "font-size:" + Model.FontSize.ToString() + "pt"; }

    }
    string classNews = "";
    string classHighlight = "";
    if (Model.IsNews) { classNews = "news"; }
    if (Model.IsHighlighted) { classHighlight = "highlight"; }
    if (Model.Bold) { titleClassString += " font-bold"; }
    if (Model.Italic) { titleClassString += " font-italic"; }
    if (Model.Reserv) { classReserv = "reserv"; }
    



}


<div draggable="false" id="@Model.Ref" class="prog @classHighlight @classNews @classReserv @classWidth @classXPos" style="@strHeight @strPosY" ondragstart="drag(event)" ondblclick="dblclick(event)" onclick="prog_click(event)">
    @if (Model.UseTitle)
    {
        <div class="@titleClassString" style="@fontSize" draggable="false">
            @Model.Title.Replace("#", "\n").ToUpper()
        </div>
    }
    else
    {
        <div class="@titleClassString" style="@fontSize" draggable="false">
            @Model.ANR.Replace("#", "\n").ToUpper()
        </div>
    }
    <div class="info-div" style="@fontSize" draggable="false">
        [@Model.getInfoString()] (@Model.ProducerCode@Model.SellerCode)
    </div>

</div>
 <div class="profile-hover">
    <span>@Model.Beg.ToString("H:mm") - @Model.EndTime.ToString("H:mm") (@durStr)</span>
    <br />
    <span>@Model.Title.Replace("#", "\n").ToUpper()</span>
    <br />
    <span>[@Model.getInfoString()] (@Model.ProducerCode@Model.SellerCode)</span>
</div>   
