@{
    ViewBag.Title = "Home Page";
    @*Layout = null;*@
    var culture = new System.Globalization.CultureInfo("ru-RU");
    var day = culture.DateTimeFormat.GetDayName(DateTime.Today.DayOfWeek);
    day = day.Substring(0, 1).ToUpper() + day.Substring(1);

    string prevprevWeek = "";
    string prevprevWeek1 = "";
    string prevprevWeek2 = "";
    string prevWeek = "";
    string prevWeek1 = "";
    string prevWeek2 = "";
    string curWeek = "";
    string curWeek1 = "";
    string curWeek2 = "";
    string nextWeek = "";
    string nextWeek1 = "";
    string nextWeek2 = "";
    string nextnextWeek = "";
    string nextnextWeek1 = "";
    string nextnextWeek2 = "";

    var curDay = DateTime.Today - TimeSpan.FromDays(Convert.ToDouble(DateTime.Today.DayOfWeek - 1));
    DateTime weekAgo = DateTime.Today - TimeSpan.FromDays(7);
    curWeek = curDay.ToString("dd/MM/yyyy") + " - " + (curDay + TimeSpan.FromDays(6)).ToString("dd/MM/yyyy");
    curWeek1 = curDay.ToString("dd/MM/yyyy") + " -";
    curWeek2 = (curDay + TimeSpan.FromDays(6)).ToString("dd/MM/yyyy");
    nextWeek = (curDay + TimeSpan.FromDays(7)).ToString("dd/MM/yyyy") + " - " + (curDay + TimeSpan.FromDays(6 + 7)).ToString("dd/MM/yyyy");
    nextWeek1 = (curDay + TimeSpan.FromDays(7)).ToString("dd/MM/yyyy") + " -";
    nextWeek2 = (curDay + TimeSpan.FromDays(6 + 7)).ToString("dd/MM/yyyy");
    nextnextWeek = (curDay + TimeSpan.FromDays(7 + 7)).ToString("dd/MM/yyyy") + " - " + (curDay + TimeSpan.FromDays(6 + 7 + 7)).ToString("dd/MM/yyyy");
    nextnextWeek1 = (curDay + TimeSpan.FromDays(7 + 7)).ToString("dd/MM/yyyy") + " -";
    nextnextWeek2 = (curDay + TimeSpan.FromDays(6 + 7 + 7)).ToString("dd/MM/yyyy");
    prevWeek = (curDay - TimeSpan.FromDays(7)).ToString("dd/MM/yyyy") + " - " + (curDay - TimeSpan.FromDays(6 + 7)).ToString("dd/MM/yyyy");
    prevWeek1 = (curDay - TimeSpan.FromDays(7)).ToString("dd/MM/yyyy") + " -";
    prevWeek2 = (curDay - TimeSpan.FromDays(7 - 6)).ToString("dd/MM/yyyy");
    prevprevWeek = (curDay - TimeSpan.FromDays(7 + 7)).ToString("dd/MM/yyyy") + " - " + (curDay - TimeSpan.FromDays(6 + 7 + 7)).ToString("dd/MM/yyyy");
    prevprevWeek1 = (curDay - TimeSpan.FromDays(7 + 7)).ToString("dd/MM/yyyy") + " -";
    prevprevWeek2 = (curDay - TimeSpan.FromDays(7 + 7 - 6)).ToString("dd/MM/yyyy");

}
@*
    <script>
        function contentLoaded() {
            var source = new EventSource('weeks/checkdays');
            var myP = document.getElementById("messages");
            source.onmessage = function (e) {
                myP.innerHTML += e.data;
            }
        }
        window.addEventListener("DOMContentLoaded", contentLoaded, false);

        <p><input type="date" id="last-start-date" value="@string.Format("{0:yyyy-MM-dd}", "2015-12-22")" /></p>
    </script>
*@

@{
    Random rnd = new Random();
    int month = rnd.Next(1, 4);
    string icoPath = "";
    switch (month)
    {
        case 1:
            icoPath = "/chopper_heli_favicon.ico";
            break;
        case 2:
            icoPath = "/chopper_knife_favicon.ico";
            break;
        case 3:
            icoPath = "/chopper_moto_favicon.ico";
            break;
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ChOpper</title>
    <link href='@Url.Content("~/Content/themes/base/all.css")' rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/Content/StyleSheet1.css">
    <link rel="stylesheet" href="~/Content/Stolby.css">
    <link rel="stylesheet" href="~/Content/Index.css">
    <link rel="stylesheet" href="~/Content/bootstrap.css">




    <link rel="icon" href="@icoPath" type="image/x-icon">
    @*<script src="~/Scripts/jquery-1.10.2.js"></script>
        <script src="~/Scripts/jquery-ui-1.11.4.js"></script>*@

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @*@Scripts.Render("~/Scripts/JavaScript1.js")*@

</head>

<body id="mb">
    <div class="row">
        <div class="headerPanel col-lg-12 col-md-12 col-sm-12 col-xs-12">
            @day, @DateTime.Today.Date.ToString(@"dd.MM.yyyy")
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 tileGroup">
            <p>РАСКЛАДКА</p>
        </div>
        <a href="@Url.Action("getWeek", "Weeks", new { week_num = "cur-2" }, null)">
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 tile">
                <span id="vis" class="glyphicon glyphicon-fast-backward"></span>

                <div id="hidden">
                    <div class="weekNameContainer">
                        <span class="weekNameSpan">@prevprevWeek1</span>
                        <span class="weekNameSpan">@prevprevWeek2</span>
                    </div>
                </div>
            </div>
        </a>
        <a href="@Url.Action("getWeek", "Weeks", new { week_num = "cur-1" }, null)">
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 tile">
                <span id="vis" class="glyphicon glyphicon-backward"></span>

                <div id="hidden">
                    <div class="weekNameContainer">
                        <span class="weekNameSpan">@prevWeek1</span>
                        <span class="weekNameSpan">@prevWeek2</span>
                    </div>
                </div>
            </div>
        </a>
        <a href="@Url.Action("getWeek", "Weeks", new { week_num = "cur0" }, null)">
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 tile">
                <span id="vis" class="glyphicon glyphicon-play"></span>

                <div id="hidden">
                    <div class="weekNameContainer">
                        <span class="weekNameSpan">@curWeek1</span>                        
                        <span class="weekNameSpan">@curWeek2</span>
                    </div>
                </div>
            </div>
        </a>
        <a href="@Url.Action("getWeek", "Weeks", new { week_num = "cur1" }, null)">
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 tile">
                <span id="vis" class="glyphicon glyphicon-forward"></span>
                <div id="hidden">
                    <div class="weekNameContainer">
                        <div class="weekNameContainer">
                            <span class="weekNameSpan">@nextWeek1</span>
                            <span class="weekNameSpan">@nextWeek2</span>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        <a href="@Url.Action("getWeek", "Weeks", new { week_num = "cur2" }, null)">
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 tile">
                <span id="vis" class="glyphicon glyphicon-fast-forward"></span>
                <div id="hidden">                    
                    <div class="weekNameContainer">
                        <span class="weekNameSpan">@nextnextWeek1</span>
                        <span class="weekNameSpan">@nextnextWeek2</span>
                    </div>
                </div>
            </div>
        </a>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 tile">
            @{Html.RenderAction("SelectCategory", "Weeks", "");}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 tileGroup">
            <p>ОРБИТЫ</p>
        </div>
        <a href="@Url.Action("OrbWeek", "Weeks", new { week_num = "cur-2" }, null)">
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 tile">
                <span id="vis" class="glyphicon glyphicon-fast-backward"></span>

                <div id="hidden">
                    <div class="weekNameContainer">
                        <span class="weekNameSpan">@prevprevWeek1</span>
                        <span class="weekNameSpan">@prevprevWeek2</span>
                    </div>
                </div>
            </div>
        </a>
        <a href="@Url.Action("OrbWeek", "Weeks", new { week_num = "cur-1" }, null)">
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 tile">
                <span id="vis" class="glyphicon glyphicon-backward"></span>

                <div id="hidden">
                    <div class="weekNameContainer">
                        <span class="weekNameSpan">@prevWeek1</span>
                        <span class="weekNameSpan">@prevWeek2</span>
                    </div>
                </div>
            </div>
        </a>
        <a href="@Url.Action("OrbWeek", "Weeks", new { week_num = "cur0" }, null)">
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 tile">
                <span id="vis" class="glyphicon glyphicon-play"></span>

                <div id="hidden">
                    <div class="weekNameContainer">
                        <span class="weekNameSpan">@curWeek1</span>
                        <span class="weekNameSpan">@curWeek2</span>
                    </div>
                </div>

            </div>
        </a>
        <a href="@Url.Action("OrbWeek", "Weeks", new { week_num = "cur1" }, null)">
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 tile">
                <span id="vis" class="glyphicon glyphicon-forward"></span>
                <div id="hidden">
                    <div class="weekNameContainer">
                        <span class="weekNameSpan">@nextWeek1</span>
                        <span class="weekNameSpan">@nextWeek2</span>
                    </div>
                </div>
            </div>
        </a>
        <a href="@Url.Action("OrbWeek", "Weeks", new { week_num = "cur2" }, null)">
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 tile">
                <span id="vis" class="glyphicon glyphicon-fast-forward"></span>
                <div id="hidden">
                    <div class="weekNameContainer">
                        <span class="weekNameSpan">@nextnextWeek1</span>
                        <span class="weekNameSpan">@nextnextWeek2</span>
                    </div>
                </div>
            </div>
        </a>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 tile">            
            @{Html.RenderAction("SelectCategory", "Weeks", new { curWeekRef = "15", repType = "orbity" });}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 tileGroup">
            <p>СТОЛБЫ</p>
        </div>
        <a href="@Url.Action("Stolby", "Weeks", new { week_num = "cur-2" }, null)">
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 tile">
                <span id="vis" class="glyphicon glyphicon-fast-backward"></span>

                <div id="hidden">
                    <div class="weekNameContainer">
                        <span class="weekNameSpan">@prevprevWeek1</span>
                        <span class="weekNameSpan">@prevprevWeek2</span>
                    </div>
                </div>
            </div>
        </a>
        <a href="@Url.Action("Stolby", "Weeks", new { week_num = "cur-1" }, null)">
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 tile">
                <span id="vis" class="glyphicon glyphicon-backward"></span>

                <div id="hidden">
                    <div class="weekNameContainer">
                        <span class="weekNameSpan">@prevWeek1</span>
                        <span class="weekNameSpan">@prevWeek2</span>
                    </div>
                </div>
            </div>
        </a>
        <a href="@Url.Action("Stolby", "Weeks", new { week_num = "cur0" }, null)">
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 tile">
                <span id="vis" class="glyphicon glyphicon-play"></span>
                <div id="hidden">
                    <div class="weekNameContainer">
                        <span class="weekNameSpan">@curWeek1</span>
                        <span class="weekNameSpan">@curWeek2</span>
                    </div>
                </div>
            </div>
        </a>
        <a href="@Url.Action("Stolby", "Weeks", new { week_num = "cur1" }, null)">
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 tile">
                <span id="vis" class="glyphicon glyphicon-forward"></span>
                <div id="hidden">
                    <div class="weekNameContainer">
                        <span class="weekNameSpan">@nextWeek1</span>
                        <span class="weekNameSpan">@nextWeek2</span>
                    </div>
                </div>
            </div>
        </a>
        <a href="@Url.Action("Stolby", "Weeks", new { week_num = "cur2" }, null)">
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 tile">
                <span id="vis" class="glyphicon glyphicon-fast-forward"></span>
                <div id="hidden">
                    <div class="weekNameContainer">
                        <span class="weekNameSpan">@nextnextWeek1</span>
                        <span class="weekNameSpan">@nextnextWeek2</span>
                    </div>
                </div>
            </div>
        </a>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 tile">
                @{Html.RenderAction("SelectCategory", "Weeks", new { curWeekRef = "15", repType = "stolby"});}
            </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 tileGroup bottom">
            <p>СВОДКИ</p>
        </div>        
        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 tile bottom"></div>                        
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 tile bottom">
            <div id="datepickerCaption"></div>
            
                @using (Html.BeginForm("Svodka", "Weeks", FormMethod.Get))
                {
                    <fieldset>
                        <input name="bdate" type="date" id="svodka_datepicker" class="index_datepickers" required="required" value="@DateTime.Today.Date.ToString("yyyy-MM-dd")" onchange="form.submit();" />                        
                    </fieldset>
                }
            
        </div>
    </div>

    <p id="messages"></p>
</body>
</html>