@model System.Data.DataTable

@{
    ViewBag.Title = "Search";
    int counter = 1;
    bool norm = true;
    bool ratings = true;
}

<script src="~/Scripts/jquery-2.0.0.min.js"></script>
<script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
<script src="~/signalr/hubs"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>

<div style="float:left" class="forPrint" id="searchHeader"><h2 style="float:left">Результаты поиска по запросу: "@ViewBag.stitle"</h2></div>

<div id="advSearchExpand">
    <a href="#advSearchHidden">
        <span class="glyphicon glyphicon-download" style="font-size:xx-large"></span>
    </a>
</div>


@{Html.RenderAction("advSearchPanel", "advSearch", new { title = ViewBag.stitle });}

<div class="rightSideButtons">        
    <div class="sideButtons" id="printButton" data-reporttype="search" onclick="window.print();">
        <span class="glyphicon glyphicon-print" style="font-size:xx-large"></span>
    </div>
</div>
<div class="row searchResults" >
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
        @if (Model.Columns.Count > 0)
        {
            <table id="searchResultTable" class="forPrint">
                <thead>
                    <tr>
                        <th class ="notForPrint"></th>
                        <th>#</th>

                        @foreach (System.Data.DataColumn col in Model.Columns)
                        {
                            switch (col.ColumnName)
                            {
                                case "TVData":
                                    <th>Дата</th>
                                    break;
                                case "WeekDay":
                                <th>День</th>
                                    break;
                                case "Beg":
                                <th>Время</th>
                                    break;
                                case "Timing":
                                <th>Хрон.</th>
                                    break;
                                case "BriefTitle":
                                <th class="titleCol">Название</th>
                                    break;
                                case "RepeatFrom":
                                <th>Повтор</th>
                                    break;
                                case "DSTI":
                                <th>СТИ</th>
                                    break;
                                case "DM":
                                <th>DM</th>
                                    break;
                                case "DR":
                                <th>DR</th>
                                    break;
                                case "ProducerCode":
                                <th>Дирекция</th>
                                    break;
                                case "SellerCode":
                                <th>SellerCode</th>
                                    break;
                                    @*
                                        default:
                                        <th>@col.ColumnName</th>
                                            break;
                                    *@
                            }
                        }
                        <th class="notForPrint"><span class="glyphicon glyphicon-print" style="font-size:small"></span></th>
                    </tr>

                </thead>
                <tbody>
                    
                    @foreach (System.Data.DataRow row in Model.Rows)
                    {
                        string styleString = "";
                        @*
                        if (row["ProducerCode"].ToString() == "0" & row["SellerCode"].ToString() == "0" & norm)
                        {
                            styleString = "border-top:dashed 1px #039";                            
                            norm = false;                            
                        }*@
                        if (row["ProducerCode"].ToString() != "0" & row["SellerCode"].ToString() != "0" & row["DM"].ToString() == "0" & row["DR"].ToString() == "0" & row["DSTI"].ToString() == "0" & ratings)
                        {
                            styleString = "border-top:dashed 1px #039";
                            ratings = false;
                        }
                        
                            <tr id="tr_@counter" style="@styleString">                        
                            <td class="notForPrint"><input type="checkbox" value="None" id="cb_@counter" name="check_@counter" class="progCheckBoxes" onchange="toggleCheckbox(this)" /></td>
                            <td>@counter</td>
                            @{counter += 1;}
                            @foreach (System.Data.DataColumn col in Model.Columns)
                            {
                                
                                switch (col.ColumnName)
                                {
                                    case "Timing":

                                        string timingStr = row[col.ColumnName].ToString();
                                        TimeSpan timingTs = TimeSpan.FromSeconds(Convert.ToInt32(timingStr));
                                        <td>
                                            @timingTs.ToString(@"hh\:mm\:ss")
                                        </td>

                                        break;
                                    case "TVData":
                                        DateTime curDate = Convert.ToDateTime(row[col.ColumnName]);
                                        <td>
                                            <a href="@Url.Action("Ratings", "Weeks", new { bdate = curDate.ToString("yyyy-MM-dd") }, null)">@curDate.ToString("dd.MM.yyyy")</a>
                                        </td>
                                        break;
                                    case "Beg":
                                        @*string curTime = row[col.ColumnName].ToString().Right(8).Left(5);*@
                                        DateTime curTimeDt = DateTime.Parse(row[col.ColumnName].ToString());
                                        string curTime = curTimeDt.ToString(@"H\:mm");
                                        <td>@curTime</td>
                                        break;
                                    case "BriefTitle":
                                    <td class="titleCol">@row[col.ColumnName]</td>
                                        break;
                                    case "RepeatFrom":
                                        if (DateTime.Parse(row[col.ColumnName].ToString()).ToString("dd.MM.yyyy") == "01.01.0001")
                                        {
                                            <td></td>
                                        }
                                        else
                                        {
                                            <td><span class="glyphicon glyphicon-ok-circle" style="font-size:small"></span></td>
                                        }
                                        @*<td><span class="glyphicon glyphicon-ok-circle"></span></td>*@
                                        break;
                                    case "WeekDay":
                                        switch (row[col.ColumnName].ToString())
                                        {
                                            case "1":
                                                <td>Пн</td>
                                                break;
                                            case "2":
                                            <td>Вт</td>
                                                break;
                                            case "3":
                                            <td>Ср</td>
                                                break;
                                            case "4":
                                            <td>Чт</td>
                                                break;
                                            case "5":
                                            <td>Пт</td>
                                                break;
                                            case "6":
                                            <td>Сб</td>
                                                break;
                                            case "7":
                                            <td>Вс</td>
                                                break;
                                        }
                                        break;
                                    case "DSTI":
                                    <td>@row[col.ColumnName]</td>
                                        break;
                                    case "DM":
                                    <td>@row[col.ColumnName]</td>
                                        break;
                                    case "DR":
                                    <td>@row[col.ColumnName]</td>
                                        break;
                                    case "ProducerCode":
                                    <td>@row[col.ColumnName]</td>
                                        break;
                                    case "SellerCode":
                                    <td>@row[col.ColumnName]</td>
                                        break;
                                        @*
                                            default:
                                            <td>@row[col.ColumnName]</td>
                                                break;
                                        *@
                                }



                            }
                            <td class="notForPrint">
                                <input type="checkbox" value="None" id="pcb_@counter" name="pcheck_@counter" class="printCheckBoxes" onchange="togglePrintCheckbox(this)" checked />
                            </td>
                        </tr>
                    }
                </tbody>
            </table>


        }
                </div>
        <div class="col-lg-1"></div>
</div>
<div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
        <button id="addProgButton" type="button" class="btn btn-default" disabled>Добавить в шаблоны</button>
    </div>
    <div class="col-lg-1"></div>
</div>


<script>
    function toggleCheckbox(element) {
        var cbs = document.getElementsByClassName("progCheckBoxes");
        if (cbs.length > 0) {
            document.getElementById("addProgButton").disabled = false;
        }
    }

    function togglePrintCheckbox(element) {

        if (!element.checked)
        {
            var i = parseInt(element.id.substring(4))-1;
            var curTrId = "tr_" + i.toString();
            //document.getElementById(curTrId).style.display = 'none';
            document.getElementById(curTrId).className += " notForPrint";
        }
        
    }

    </script>
<script>
    
    $("#addProgButton").click(function () {
        var cbs = document.getElementsByClassName("progCheckBoxes");
        for (var i = 1; i < cbs.length+1 ; i++) {
            var curCbId = "cb_" + i.toString();
            var curTrId = "tr_" + i.toString();            
            if (document.getElementById(curCbId).checked) {
                var curTr = document.getElementById(curTrId);
                var timing = curTr.cells[2].innerHTML;                
                var title = curTr.cells[3].innerHTML;                
                var code = codesToFullCode(curTr.cells[11].innerHTML, curTr.cells[12].innerHTML);

                $.ajax({
                    type: 'POST',
                    cache: false,
                    data: {
                        title: title,
                        pureDur: timeToMinutes(timing),
                        fullCode: code
                    },
                    url: '/Day/AddProgToZapas',
                    success: function (data) {
                        console.log("zapas pass ok");
                    }
                });

            }
        }
    });
    
    function timeToMinutes(time) {
        var hours;
        var minutes;
        var seconds;
        //console.log(time);
        hours = parseInt(time.substring(time.indexOf(":") - 2, time.indexOf(":")));
        //console.log("Hours: " + time.substring(time.indexOf(":") - 2, time.indexOf(":")));
        minutes = parseInt(time.substring(time.indexOf(":") + 1, time.indexOf(":") + 3));
        //console.log("Minutes: " + time.substring(time.indexOf(":") +1 , time.indexOf(":") + 3));
        seconds = parseInt(time.substring(time.indexOf(":") + 4, time.indexOf(":") + 6));
        //console.log("timeToMinutes.Time: "+ hours.toString() + ":" + minutes.toString() + ":" + seconds.toString());

        minutes = minutes + hours * 60 + Math.round(seconds/60);
        //console.log("timeToMinutes.Time: " + minutes.toString());
        return minutes.toString();
    }

    function codesToFullCode(producerCode, sellerCode) {
        var fullCode = "";
        var curCode = producerCode + "";
        while (curCode.length < 2) curCode = "0" + curCode;
        fullCode = curCode;
        curCode = sellerCode + "";
        while (curCode.length < 3) curCode = "0" + curCode;
        fullCode += curCode;

        return fullCode;
    }

</script>