@model chopper1.Models.Day

@{
    Layout = null;
    string day_num = Model.TVDate.DayOfWeek.ToString();
    int chanCode = Model.KanalKod;
    DateTime dt = Model.TVDate;
    string varStr = "Вариант ";
    varStr += Model.VariantKod.ToString();
}

<a href="@Url.Action("Ratings", "Weeks", new { bdate = @Model.TVDate.Date.ToString("yyyy-MM-dd")}, null)">
    <div id="dow@(day_num)" class="dow-div">@Model.DoWRus</div>
</a>
<a href="@Url.Action("Broadcast", "Weeks", new { bdate = @Model.TVDate.Date.ToString("yyyy-MM-dd"), variantNum = @Model.VariantKod}, null)">
    <div id="date@(day_num)" class="date-div">@Model.TVDate.Date.ToString("dd/MM/yyyy")</div>
</a>

<div id="var@(Model.VariantKod.ToString())" class="varCode-div" data-varnum="@Model.VariantKod.ToString()">
    @using (Ajax.BeginForm("VariantChosen", "Day", new AjaxOptions { UpdateTargetId = Model.TVDayRef }, new { @class = "varForm" }))
    {
        <fieldset>
            @Html.DropDownList("VariantKod", (SelectList)ViewData["DayVariants"], varStr, new { @onchange = "$(this.form).submit();" })
            @Html.Hidden("curDate", Model.TVDate.ToString())
            @Html.Hidden("chCode", Model.KanalKod.ToString())
            @Html.Hidden("repType", "raskladka")
        </fieldset>
    }
</div>
<div id="shapka@(day_num)" class="shapka-div">@Html.Raw(Html.Encode(Model.FullCap).Replace("#", "<br />"))</div>

@foreach (chopper1.ws1c.EfirType efir in Model.Efirs)
{
    if (efir.Timing >= 60 * 5)
    {
        Html.RenderAction("ConstructEfir", "Efir", new { curEfir = efir, curDay = dt, chCode = chanCode });
    }
}

<script>

</script> 